.programm-list__li {
    list-style: none;
}
.btn {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.channels {
    border: 1px solid #ddd;
    height: 300px;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 20px;
    width: 300px;
    text-align: center;
  }

.title {
    text-align: center;
}